@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root{
    --cor1: #fef6ec;
    --cor2: #A3937C;
    --cor3: #50493d;
    --cor4: #CEDBF0;
    --cor5: #3F5270;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Roboto', sans-serif;
    --fonte3: 'Rubik', sans-serif;

}
/*Fonte2*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Fonte3*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    min-height: 100vh;
    background-color: var(--cor1);
}

header{
    background-color: var(--cor5);
    color: var(--cor4);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*Letras maiúsculas com as primeiras maiores*/
    /*text-transform: uppercase; Coloca tudo em letra maiúscula*/
    font-size: 10vw; /*10% da viewportwidth - p/ se adequar ao tamanho da janela*/
}

header > p{
    padding-bottom: 50px;
    font: normal 12px var(--fonte1);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte2);
    font-size: 2.3vw;

}

section h2{
    margin-bottom: 10px;
    font-family: var(--fonte3);
    font-weight: 900;
}

section.imagem > p, section.imagem > h2{
    max-width:400px;
    display: block;
    /*display: inline-block; /*caixa que de adapta ao tamanho do conteúdo */
    padding: 5px;
    background-color: #322d269d;
    color: var(--cor1);
    text-shadow: 1px 1px 0px black;
}

section.normal{
    background-color: var(--cor1);
    color: var(--cor3);
}

section.normal > p, section.normal > h2{
    max-width: 500px;
}

section.imagem{
    background-color: var(--cor3);
    color: var(--cor1);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.612); /*inset: sombra para dentro*/
    background-size: cover;
    background-attachment: fixed;
}

section#img01{
    background-image: url('../imagens/CDA-full.jpg');
    background-position: left top;
    
}

section#img02{
    background-image: url('../imagens/FG-full.jpg');
    background-position: left top;
}
section#img03{
    background-image: url('../imagens/CM-full.jpg');
    background-position: left top;
}
section#img04{
    background-image: url('../imagens/PL-full.jpg');
    background-position: left top;
}
section#img05{
    background-image: url('../imagens/MQ-full.jpg');
    background-position: left top;
}

footer{
    color: var(--cor1);
    background-color: var(--cor3);
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor1);
}

footer a:hover{
    text-decoration: underline;
}

