@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #F0D8B6;
    --cor2: #A3937C;
    --cor3: #706555;
    --cor4: #CEDBF0;
    --cor5: #3F5270;
}


html, body{
    min-height: 100vh;
    background-color: var(--cor1);
}

header{
    background-color: var(--cor5);
    color: var(--cor4);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*Letras maiúsculas com as primeiras maiores*/
    /*text-transform: uppercase; Coloca tudo em letra maiúscula*/
}

header > p{
    padding-bottom: 50px;
    font: normal 12px Arial, Verdana, serif;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.normal{
    background-color: var(--cor1);
    color: var(--cor3);
}

section.imagem{
    background-color: var(--cor3);
    color: var(--cor1);
}

footer{
    color: var(--cor1);
    background-color: var(--cor4);
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor1);
}

footer a:hover{
    text-decoration: underline;
}

